<div class="container w-25 p-3 my-3 bg-dark text-white text-center"style="margin: 30em;">
<h1>Sign In</h1>
<form method="post" action="/login">
<label>Username</label><br>
  <input type="text" name="username"><br>
  <label>Password</label><br>
  <input type="text" name="password"><br>
  <input type="submit" class="btn btn-primary"style="margin: 3em;"value="Submit">
</form>
