
<% @babies.each do |baby| %>
    <%= baby.name %><br>
    <%= baby.age %> <br>
    <%= baby.gender %> <br>
    <a href="/babies/<%=baby.id%>/edit">Edit</a>
    <a href="/posts/new">New Post</a>
    <br />
    <br />
  <% end %>

  <br>

  <a href="/babies/new">Add a Little One!</a>
