
<% @babies.each do |baby| %>
  <h1> Name:  <%= baby.name %></h1><br>
   <h2> Age: <%= baby.age %> </h2><br>
   <h2> Gender: <%= baby.gender %> </h2> <br>

   <a href="/babies/<%=baby.id%>/edit"class="btn btn-primary">Edit</a>
   <a href="posts/new"class="btn btn-primary">New Post</a>
    <br />
    <br />
  <% end %>

  <br>

  <a href="/babies/new"class="btn btn-primary">Add a Little One!</a>
