<div class="container w-25 p-3 my-3 bg-dark text-white text-center"style="margin: 30em;">
<h1>New Baby</h1><br>
<form action="/babies" method="POST">
  <label>Name </label><br>
  <input type="text" name="name"required> <br>
<br>
  <label> Age </label><br>
  <input type="integer" name="age"required> <br>
<br>
  <label> Gender </label><br>
  <input type="text" name="gender"required> <br>
<br>
  <input type="submit"class="btn btn-success" value="Create">
</form>
</div>