<h1><%= @babies.name %></h1>
<br>
<h2> Age: <%= @babies.age %></h2> <br>
<h2> Gender: <%= @babies.gender %></h2>
<input type="hidden" id="hidden" name="_method" value="DELETE">
<input type="button"value="Delete">
