<div class="container w-25 p-3 my-3 bg-dark text-white text-center"style="margin: 5em;">
<h1><%= @babies.name %></h1>
<br>
<h2> Age | <%= @babies.age %></h2> <br>
<h2> Gender | <%= @babies.gender %></h2><br>
<a href="posts/new"class="btn btn-primary">New Post</a>
</div>