<div class="container w-25 p-3 my-3 bg-dark text-white text-center"style="margin: 5em;">
<h5><%= @babies.name %></h5>
<br>
<p> Age | <%= @babies.age %></p> <br>
<p> Gender | <%= @babies.gender %></p><br>
<a href="posts/new"class="btn btn-primary">New Post</a>
</div>