<% @updates.each do |update| %>
    <%= update.weight %><br />
    <%= update.height %> <br />
    <%= update.summary %> <br />
    <a href="/updates/<%=update.id%>/edit">Edit</a>
    <br />
    <br />
  <% end %>
  