<h1>Create a Post</h1>

<form action="/posts" method="POST">
  <label> Title </label>
  <input type="text" name="title"placeholder="Title"> </br>

<form action="/posts" method="POST">
  <label> Baby Weight </label>
  <input type="text" name="weight"placeholder="lbs"> </br>

  <label> Baby Height </label>
  <input type="text" name="height"placeholder="inches"> </br>

  <label> Summary </label>
  <input type="text" name="summary"placeholder="milestones"> </br>

  <label> Baby </label><br>
  <% @babies.each do |baby| %>
    <input type="checkbox" name="baby_id" id="<%= baby.id %>" value="<%= baby.id %>"><%= baby.name %><br>
  <% end %>

  

<br>
  <input type="submit" value="Create Post">
</form>
