<div class="container w-25 p-3 my-3 bg-dark text-white text-center"style="margin: 30em;">
<h5>New Post</h5>

<form action="/posts" method="POST">
  <label> Title </label><br>
  <input type="text"   name="title"placeholder="title"required> </br>
<br>
  <label>  Weight </label><br>
  <input type="text"  name="weight"placeholder="lbs"required> </br>
<br>
  <label> Height </label><br>
  <input type="text" name="height"placeholder="inches"required> </br>
<br>
  <label> Summary </label><br>
  <input type="text" name="summary"placeholder="milestones, memories"required> </br>

<br>
  <label> Baby </label><br><br>
  <select class="form-select"required name="baby_id"><option disabled selected value> -- select a baby-- </option>
    <% current_user.babies.each do |baby| %>
      <option value=<%=baby.id %>><%= baby.name %></option>
    <% end %>
  </select>
 

  

<br>
  <input type="submit" class="btn btn-success"value="Create Post">
</form>
</div>