<div class="container w-40 p-3 my-3 bg-dark text-white text-center"style="margin: 5em;"> 
<h5>Welcome to Baby Journal</h5><br>
<p> A simple way to track your little ones measurements, milestones and memories!</p>
<a href="/posts/new"class="btn btn-primary"style="margin: 5em;">New Post</a>
<a href="/babies/new"class="btn btn-primary"style="margin: 5em;">New Baby</a>
</div>