<!DOCTYPE html>
<html>
  <head>
    <title>Baby Journal</title>
    <link href="/css/bootstrap.css"rel="stylesheet">
    <link href="/css/bootstrap-responsive.css"rel="stylesheet">
  </head>
  <body>
  <style>
  body {
    background-image:url('/img/watercolor.png');
    text-align: center;
  }
  </style>
  <% if logged_in? %>

  <a href="/babies/new"> Create Update </a>
  <a href="/logout"> Log Out </a>
  <p>Welcome, <%=current_user.username %></p>

<% else %>
  <a href="/reigster">Sign Up</a>
  <a href="/login"> Sign In </a>
<%end %>
      <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
